[submodule "MARKETING-desafioG3"]
	path = MARKETING-desafioG3
	url = https://github.com/Desafio-TheBridge-Grupo3/MARKETING-desafioG3.git
[submodule "UX-UI-desafioG3"]
	path = UX-UI-desafioG3
	url = https://github.com/Desafio-TheBridge-Grupo3/UX-UI-desafioG3.git
[submodule "DATA-desafioG3"]
	path = DATA-desafioG3
	url = https://github.com/Desafio-TheBridge-Grupo3/DATA-desafioG3.git
[submodule "FULLSTACK-desafioG3"]
	path = FULLSTACK-desafioG3
	url = https://github.com/Desafio-TheBridge-Grupo3/FULLSTACK-desafioG3.git
[submodule "CIBER-desafioG3"]
	path = CIBER-desafioG3
	url = https://github.com/Desafio-TheBridge-Grupo3/CIBER-desafioG3.git
[submodule "CLOUD-desafioG3"]
	path = CLOUD-desafioG3
	url = https://github.com/Desafio-TheBridge-Grupo3/CLOUD-desafioG3.git
[submodule "DESAFIO_TRIPULACIONES_SEVERAL"]
	path = DESAFIO_TRIPULACIONES_SEVERAL
	url = https://github.com/PALOMAOC/DESAFIO_TRIPULACIONES_SEVERAL.git
[submodule "PRODUCCION"]
	path = PRODUCCION
	url = https://github.com/Desafio-TheBridge-Grupo3/PRODUCCION.git
[submodule "PRODUCCION-desafioG3"]
	path = PRODUCCION-desafioG3
	url = https://github.com/Desafio-TheBridge-Grupo3/PRODUCCION-desafioG3.git
